.gallery {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 80%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  border-radius: 50px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: auto;
    pointer-events: none;
  }
}

.gallery-button-left,
.gallery-button-right {
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 25px);
}

.gallery-button-left {
  left: 0;
  rotate: -90deg;
}

.gallery-button-right {
  right: 0;
  rotate: 90deg;
}

.loading-wheel {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 60px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  z-index: 0;
}

.loading-round {
  border-radius: 50%;
  background: #aba9ff;
  width: 100%;
  height: 100%;
}

.error-message {
  color: #8b0000
}

