@use "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 1.65;
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.blur {
  filter: blur(10px);
}
